.popup__close-button {
  position: absolute;
  right: -45px;
  top: -37px;
  background-image: url(../../../images/CloseIcon.svg);
  height: 40px;
  width: 40px;
  color: #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
  border: unset;
  outline: none;
  cursor: pointer;
  padding: 0;
}
.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    top: -40px;
    right: 0px;
    height: 26px;
    width: 26px;
    background-size: 26px;
  }
}
