.profile__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  margin: 0;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 719px) {
  .profile__subtitle {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 14px;
  max-width: 215px;
  }
}
