.header__auth-text {
    margin: 0 24px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.header__auth-text:last-child {
    margin-right: 0;
}

.header__auth-text:hover:last-child {
    opacity: 0.6; 
}