.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .cards {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 719px) {
  .cards {
  grid-template-columns: 1fr;
  gap: 20px;
  }
}
