@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__info-edit/profile__info-edit.css);
@import url(./blocks/profile/__image-container/profile__image-container.css);
@import url(./blocks/profile/__edit-image/profile__edit-image.css);
@import url(./blocks/profile/__edit-icon/profile__edit-icon.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__image-container/cards__image-container.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__element/cards__element.css);
@import url(./blocks/cards/__like-button/cards__like-button.css);
@import url(./blocks/cards/__likes/cards__likes.css);
@import url(./blocks/cards/__like-count/cards__like-count.css);
@import url(./blocks/cards/__like-button/_active/cards__like-button_active.css);
@import url(./blocks/cards/__name/cards__name.css);
@import url(./blocks/cards/__subtitle/cards__subtitle.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/cards/__delete-button/_display/cards__delete-button_display.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__close-button/_type/popup__close-button_type_image.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_state/popup__input_state_invalid.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_type/popup__save-button_type_invalid.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-name/popup__image-name.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__title/_type/popup__title_type_accept.css);
@import url(./blocks/popup/__form-label/popup__form-label.css);
@import url(./blocks/error/error.css);
@import url(./blocks/all-page/all-page.css);