.popup__save-button_type_invalid {
  opacity: 0.2;
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.popup__save-button_type_invalid:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: auto;
}
